.form_wrapper {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content_wrapper {
    background-image: url(../../img/light-veneer/light-veneer/light-veneer.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.button {
    width: 100px;
    height: 15px;
    padding-top:20px ;
    margin-top:20px ;
    padding-bottom: 20px;
    background-color: #e7434e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    
}