/ftmodel1
/ftmodel1.trainables.syn1neg.npy
/ftmodel1.trainables.vectors_vocab_lockf.npy
/ftmodel1.wv.vectors.npy
/ftmodel1.wv.vectors_vocab.npy
/ftmodel1.trainables.vectors_ngrams_lockf.npy
/ftmodel1.wv.vectors_ngrams.npy
/table.csv
