/ftmodel
/ftmodel.trainables.syn1neg.npy
/ftmodel.trainables.vectors_vocab_lockf.npy
/ftmodel.wv.vectors.npy
/ftmodel.wv.vectors_vocab.npy
/ftmodel.trainables.vectors_ngrams_lockf.npy
/ftmodel.wv.vectors_ngrams.npy
/table.csv
